*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --main-bg-color: hsl(225, 100%, 94%);
    --main-bg-neutral: hsl(0, 0%, 100%);
    --desaturaded-blue: hsl(224, 15%, 52%);
    --lg-text-color: hsl(225, 100%, 98%);
    --btn-primary: hsl(245, 75%, 52%); 
}

html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

.card {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    margin-top: 5em;
    border-radius: 25px;
    background-color: var(--main-bg-neutral);
}

.hero-img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.ctn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bold-text {
    font-weight:900;
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.2em;
}

.description {
    color: var(--desaturaded-blue);
    line-height: 1.6;
    font-size: 1.1rem;
}

.plan-description {
    display: flex;
    justify-content: space-around;
    background-color: var(--lg-text-color);
    border-radius: 15px;
    margin-top: 2em;
}

.plan-description img {
    width: 50px;
    height: 50px;
    align-self: center;
}

.plan-text {
    margin-left: -1.5em;
    font-size: 1rem;
}

.bold-text span {
    color: var(--desaturaded-blue);
    font-weight: 400;
    line-height: 1.5;
}

.plan-description a {
    align-self: center;
}

.btn-confirm {
    background-color: var(--btn-primary);
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    margin-top: 2em;
}

.btn-confirm a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}